fastapi==0.73.0
uvicorn==0.30.1
pandas==2.2.2
openpyxl==3.0.9
numpy>=1.16.6,<2.0.0
matplotlib==3.5.1
scikit-learn>=1.0.2,<1.6.0
seaborn==0.12.2
pydantic==1.10.17
python-multipart==0.0.9
python-dotenv==1.0.1
requests==2.32.3
pyarrow==15.0.2
